<header class="navbar" data-controller="navbar_mobile">
  <div class="navbar__brand">
    <%= t(:name_app) %>
  </div>
  <% if user_signed_in? %>
    <div class="button-open btn btn--primary">
      Open
    </div>
    <div class="navbar__items">
      <div class="navbar__item <%= path_active?(t(:assets, scope: 'routes')) ? 'active' : '' %>">
        <%= link_to t(:assets, scope: 'navbar'), assets_path %>
      </div>
      <div class="navbar__item <%= path_active?(t(:tradings, scope: 'routes')) ? 'active' : '' %>">
        <%= link_to t(:tradings, scope: 'navbar'), tradings_path %>
      </div>
      <div class="navbar__item <%= path_active?(t(:proceeds, scope: 'routes')) ? 'active' : '' %>">
        <%= link_to t(:proceeds, scope: 'navbar'), proceeds_path %>
      </div>
      <div class="navbar__name">
        <%= current_user.name %>
      </div>
      <%= button_to t(:sign_out, scope: 'devise.shared.links'),
                    destroy_user_session_path,
                    method: :delete,
                    class: "btn btn--dark" %>
    </div>
  <% else %>
    <%= link_to t(:sign_in, scope: 'devise.shared.links'),
                new_user_session_path,
                class: "btn btn--dark navbar__right" %>
  <% end %>
</header>
