<main class="container">
  <div class="header">
    <h1><%= t(:trading, scope: 'activerecord.models').pluralize %></h1>
  </div>

  <%= search_form_for @search, class: 'search' do |f| %>
    <div>
      <%= f.select :kind_eq, trading_kind_enum_search, { include_blank: Trading.human_attribute_name("kind") }, class: 'form__input' %>
    </div>

    <div>
      <%= f.search_field :stock_code_cont, class: 'form__input', placeholder: Trading.human_attribute_name("stock"), maxlength: 6 %>
    </div>

    <div>
      <%= f.submit class: 'btn btn--dark' %>
    </div>
  <% end %>

  <div class="tradings cards">
    <%= render @tradings %>
  </div>
</main>
