<%= turbo_stream_from current_user, "tradings" %>

<main class="container">
  <div class="header">
    <div class="page-title">
      <h1><%= t(:trading, scope: 'activerecord.models').pluralize %></h1>
    </div>
    <%= link_to t(:create),
                new_trading_path,
                class: "btn btn--primary",
                data: { turbo_frame: dom_id(Trading.new) } %>
  </div>

  <%= turbo_frame_tag Trading.new %>

  <%= render 'ransack' %>

  <%= turbo_frame_tag "tradings", class: 'tradings cards' do %>
    <%= render @tradings %>
  <% end %>
</main>
