<%= turbo_stream_from current_user, "assets" %>

<main class="container">
  <div class="header">
    <div class="page-title">
      <h1><%= t(:asset, scope: 'activerecord.models').pluralize %></h1>
    </div>
    <%= link_to "Importar",
                new_importer_path,
                class: "btn btn--primary",
                data: { turbo_frame: dom_id(Importer.new) } %>
  </div>

  <%= turbo_frame_tag Importer.new %>

  <%= search_form_for @search, class: 'search' do |f| %>
    <div>
      <%= f.search_field :stock_code_cont, class: 'form__input', placeholder: Trading.human_attribute_name("stock"), maxlength: 6 %>
    </div>

    <div>
      <%= f.submit class: 'btn btn--dark' %>
    </div>
  <% end %>

  <%= turbo_frame_tag 'assets', class: 'assets cards' do %>
    <%= render @assets %>
  <% end %>
</main>
