<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <title>Minha Carteira</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body data-flash-messages="<%= JSON.dump(flash.to_a) %>">
    <%= render 'shared/navbar' %>

    <% if current_user %>
      <%= turbo_frame_tag :feedback_upload do %>
        <%= turbo_stream_from current_user.id, :feedback_upload %>
        <%= render 'shared/imports/feedback_upload', percentage: 0, user: current_user %>
      <% end %>

      <%= turbo_frame_tag :alerts do %>
        <%= turbo_stream_from current_user.id, :alerts %>
      <% end %>
    <% end %>


    <div class="p-3">
      <%= yield %>
    </div>
  </body>
</html>
